<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>      
      </section>
    </aside>
    <div class="col-md-6">
      <i class="glyphicon glyphicon-headphones"></i>
      <i class="glyphicon glyphicon-envelope"></i>
      <i class="glyphicon glyphicon-music"></i>
      <i class="glyphicon glyphicon-download-alt"></i>
      <i class="glyphicon glyphicon-th"></i>
      <i class="user"></i>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </section>  
    </div>
  </div>
<% else %>
  <div id="coffee" class="center jumbotron">
    <h2><p id="introduction"><marquee>This website is designed for sharing our ideas to the world</p></marquee>
      <p><%= link_to "Sign up now!", signup_path,  class: "btn btn-lg btn-primary signup" %></p>
    </h2>
    <%# link_to "Social Accounts", authentications_path %>
  </div>
<% end %>